table {
    width: 100%;
}

thead {
	background-color: #dcdcdc;
	padding-right:17px;
	position: sticky;
	position: -webkit-sticky;
	top: 99px;
	z-index: 10;
}


.sticky-nav {
	position: sticky !important;
	position: -webkit-sticky !important;
	top: 0px !important;
	z-index: 11 !important;
}

tbody {
	width: 100%;
}

tr {
	width: 100%;
	display: table-row;
	padding: 0px;
	table-layout: fixed;
}

.allocations-row {
	line-height: 11px;
}

td {
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0px;
	margin: 0px;
	height: 100%;
}

th {
	overflow: hidden;
	text-overflow: ellipsis;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  text-align: center;
  text-overflow: '';
}

.progress-bar {
    transition: width .05s ease;
}

textarea {
    border: none;
    outline: none;
	
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.modal {
	display: none;
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

.modal-content {
	background-color: white;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}